
server {
    listen                                 80;
    listen                            [::]:80;
    server_name               ${BACKEND_HOST};

    location /static/ {
        expires 15d;
        add_header Cache-Control "public, max-age=1296000";
        alias /app/backend/;
    }

    include /etc/nginx/mime.types;
}
